PAYSTACK_SECRET_KEY=sk_test_xxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxx
MIKROTIK_API_URL=http://192.168.216.1:8728
MIKROTIK_API_USER=api-user
MIKROTIK_API_PASSWORD=YourStrongPasswordHere
HOTSPOT_LOGIN_URL=http://192.168.100.1/login
PORT=3000

# WireGuard
WG_PRIVATE_KEY=your_wireguard_private_key_here
